body {
	font-family: Arial;
	padding: 1em;
	margin: 0;
	background-color: black;
	color: white;
}
#title {
	text-align: center;
}
#gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.piece {
	margin: .5em;
	padding: .5em;
	border-radius: .5em;
	width: 13em;
	background-color: white;
	color: black;
	cursor: pointer;
}
.magic-painting-container {
	position: relative;
	width: 12em;
	height: 12em;
	background-color: white;
	display: flex;
	justify-content: center;
}
.magic-painting {
	position: relative;
	width: 100%;
	height: 100%;
}
.magic-painting-container:fullscreen .magic-painting {
	width: 100vmin;
	height: 100vmin;
	transform: scale(1.0);
}
.title {
	text-align: center;
	font-weight: bold;
}
.effect {
	font-size: smaller;
}
.effect::before {
	content: "Effect: ";
	font-weight: bold;
}
a:link, a:visited {
	color: currentColor;
}
a:hover {
	color: lightskyblue;
}

@media (hover:hover) {
	.magic-painting {
		transform: scale(0.95);
		transition: .1s;
	}
	.piece:hover .magic-painting {
		transform: scale(1);
		transition: .1s;
	}
}
