:root {
	font-size: 3.7vmin;
	font-family: Arial;
}
body {
	display: flex;
	justify-content: center;
	padding: 0px;
	margin: 0px;
	height: 100%;
	overscroll-behavior-y: none;
	-webkit-overflow-scrolling: none;
	overflow: hidden;
	touch-action: none;
}
::backdrop {
	background-color: white;
}
@media (orientation: landscape) {
	html{
		height: 100%;
	}
	body {
		flex-direction: row;
		align-items: center;
	}
	#menu .main {
		flex-flow: column;
		height: 100vmin;
	}
}
@media (orientation: portrait) {
	body {
		align-items: center;
		flex-direction: column-reverse;
	}
	#menu .main {
		flex-flow: row;
		width: 100vmin;
	}
}

#magic-painting {
	position: relative;
	width: 100vmin;
	height: 100vmin;
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid black 1px;
	box-sizing: border-box;
}


#menu * {
	font-size: 1em;
}
#menu .main {
	display: flex;
	padding: .2em;
	justify-content: space-between;
}
#menu .main > div {
	display: flex;
}
#menu .main > div > div {
	display: flex;
	justify-content: center;
	align-items: center;
}
#menu .main button, #menu .main > div > div {
	margin: .1em;
	flex-grow: 1;
}

.btn {
	font-size: inherit;
	border-width: .12em;
	border-radius: .2em;
	padding: .3em .4em;
}
.btn:disabled {
	color: #ccc;
	border-color: #ccc;
}
.btn > div.effect {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

svg.icon {
	height: 1em;
	fill: currentColor;
	stroke: currentColor;
}

div.effect-icon {
	width: 2em;
	height: 2em;
}
div.effect-icon > img {
	height: 100%;
	width: auto;
}

.modal-backdrop, .offcanvas-backdrop {
	background-color: white;
}
.modal-backdrop.show, .offcanvas-backdrop.show {
	opacity: .8;
}

.offcanvas-start {
	width: 75%;
}
.offcanvas-bottom {
	height: 75%;
}

.h4 {
	font-size: 1.5em;
}
.h5 {
	font-size: 1.25em;
}
.subtitle {
	font-size: 75%;
}

.info .icon {
	padding-right: .33em;
}
.info .li {
	display: inline-flex;
	width: 3em;
}
.info .footer {
	position: relative;
	top: 1.5em;
}
