<script src="https://unpkg.com/magic-painting@0.1.1/dist/index.min.js"></script>
<script>
	window.onload = () => {
		var painting = new MagicPainting.MagicPainting(document.body);
		painting.effect = new MagicPainting.effects.StreamLines();
	}
</script>
