<script src="../../dist/index.min.js"></script>
<script>
	window.onload = () => {
		var painting = new MagicPainting.MagicPainting(document.body);
		painting.effect = new MagicPainting.effects.StreamLines();
	}
</script>
